@import "../homepage/homepage.scss";

.profileDiv {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  // height: 110vh;
  // border: 2px solid red;
  align-items: center;
  background-color: #7395AE;

}

.introPage{
  background-color: #7395AE;

}

a {
  color: cyan;
}

.svgStyle {
  position: fixed;
  bottom: 0;
  left: 0;
}

.profileDescription {
  max-width: 70%;
  font-size: 1.3vw;
  font-family: "Poppins", sans-serif;
  padding: 1vw;
  color: white;
  
}

.profileImage {
  // width: 30vw;
  margin-bottom: 1vw;
  height: 75vh;
  min-width: 300px;
  box-shadow: 0.5vw 0.5vw 0.5vw #557A95;
  // border: 2px solid;
}

// Putting media queries

@media only screen and (max-width: 600px){
  .profileDescription{
    font-size: 3vw;
  }
}

@media only screen and (max-width: 950px) {
  .profileDescription {
    max-width: 100%;
  }
  .svgStyle {
    visibility: hidden;
  }
}
