.certificateDiv {
    width: 40%;
    // height: 70vh;
    border: 0.5vw ridge #b0a295;
    margin: 1vw;
    font-size: 1vw;
    text-decoration: none;
    border-radius: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    
    .certificateTitle {
        // color: blue;
        font-size: 2vw;
        text-align: center;
        background-color: #555354;
        margin-bottom: 1vw;
        padding: 1vw;
    }
    .certificateBanner {
        display: flex;
        margin-bottom: 1vw;
        justify-content: center;
        img {
            width: 5vw;
        }
    }
    .certificateDescription {
        color: white;
        // height: 20vh;
        background-color: #557A95;
        font-size: 1vw;
        display: flex;
        padding: 1vw;
        align-items: center;
    }
    .certificateViewButton {
        border: 0.2vw solid black;
        padding: 1vw;
        background-color: #557A95;
        text-align: center;
        margin-top: 1vw;
        font-size: 1vw;
        width: 30vw;
        text-decoration: none;
        border-radius: 0.5vw;
        transition: all;
        transition-duration: 0.5s;
    }
    .certificateViewButton:hover {
        background-color: #5D5C61;
        color: white;
    }
    a:link {
        text-decoration: none;
    }
}

@media screen and (max-width: 600px) {
    .certificateDiv {
        width: 90%;
        .certificateTitle {
            font-size: large;
        }
        .certificateBanner {
            img {
                width: 15vw;
            }
        }
        .certificateDescription {
            font-size: small;
        }
        .certificateViewButton {
            font-size: small;
            color: white;
        }
    }
}
