.menuBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1vw;
  flex-wrap: wrap;
  background-color: #557A95;
}

.menuItem {
  padding: 1vw;
  text-align: center;
  display: inline-block;
  background-color: #7395AE;
  margin: 1vw;
  color: white;
  font-size: 1.3vw;
  font-family: "Poppins", sans-serif;
  transition: all;
  transition-duration: 0.5s;
  border-radius: 0.5vw;
  cursor: pointer;
  // width: 10%;
  min-width: 100px;
  text-decoration: none;
}
.menuItemActive {
  padding: 1vw;
  text-align: center;
  display: inline-block;
  background-color: #5D5C61;
  font-size: 1.3vw;
  margin: 1vw;
  color: white;
  // font-size: 1.3vw;
  font-family: "Poppins", sans-serif;
  transition: all;
  transition-duration: 0.5s;
  border-radius: 0.5vw;
  cursor: pointer;
  min-width: 100px;
  // width: 10%;
  text-decoration: none;
}

.menuItem:hover {
  background-color: #938e94;
  color: black;
}

// Adding media queries

@media only screen and (max-width: 600px){
  .menuItem{
    font-size: small;
  }
  .menuItemActive{
    font-size: small;
  }
}