.experience {
  margin: 1vw;
  padding: 1vw;
  border: 1vw ridge gold;
  font-size: 1.3vw;
  font-family: "Poppins", sans-serif;
  border-radius: 0.5vw;
  .experienceTitle {
    background-color: aquamarine;
    // text-align: center;
    padding: center;
    font-size: 2vw;
    padding: 1vw;
    margin: 1vw;
    border-radius: 0.5vw;
  }
  .experienceDuration {
    float: right;
  }
  .experienceBanner {
    padding: 1vw;
    display: flex;
    justify-content: center;
    img {
      width: 15vw;
    }
    border-radius: 0.5vw;

  }
  .experienceDescription {
    color: black;
  }
  .subHeadings {
    font-size: 1.5vw;
    margin: 1vw;
    padding: 1vw;
    border-radius: 0.5vw;
    background-color: aliceblue;
  }
}

.skillsButton {
    padding: 1vw;
    margin: 1vw;
    border-radius: 0.5vw;
    font-size: 1vw;
    color: white;
    background-color: #557A95;
}

@media screen and (max-width: 600px) {
  .experienceDescription{
    font-size: small;
  }
  .experienceTitle{
    font-size: large;
  }
  .skillsButton{
    font-size: small;
  }
  .subHeadings{
    font-size: medium;
  }
}