.skillsPage{
    background-color: #7395ae;
    min-height: 100vh;
}

.skillsSection{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  img{
    margin: 1vw;
  }
}

.techIcon{
  width: 5vw;
}


@media only screen and (max-width: 950px) {
  .techIcon{
    width: 15vw;
  }
}