.experience {
    margin: 1vw;
    padding: 1vw;
    border: 0.5vw ridge #b0a295;
    font-size: 1.3vw;
    color: white;
    font-family: "Poppins", sans-serif;
    border-radius: 0.5vw;
    .experienceTitle {
        background-color: #555354;
        // text-align: center;
        padding: center;
        font-size: 2vw;
        padding: 1vw;
        margin: 1vw;
        border-radius: 0.5vw;
    }
    .experienceDuration {
        float: right;
    }
    .experienceBanner {
        padding: 1vw;
        display: flex;
        justify-content: center;
        img {
            width: 15vw;
        }
        border-radius: 0.5vw;
    }
    .experienceDescription {
        color: white;
    }
    .subHeadings {
        font-size: 1.5vw;
        margin: 1vw;
        padding: 1vw;
        background-color: #555354;
        border-radius: 0.5vw;
    }
    .projectViewButton {
        padding: 1vw;
        background-color: #557A95;
        text-align: center;
        margin-top: 1vw;
        font-size: 1vw;
        text-decoration: none;
        border-radius: 0.5vw;
        transition: all;
        transition-duration: 0.5s;
        color: white;
    }
    .projectViewButton:hover {
        background-color: #b0a295;
        color: black;
    }
    a {
        text-decoration: none;
    }
}

.skillsButton {
    padding: 1vw;
    margin: 1vw;
    border-radius: 0.5vw;
    font-size: 1vw;
    // background-color: skyblue;
}

@media screen and (max-width: 600px) {
    .experience {
        .experienceTitle {
            font-size: large;
            display: flex;
            justify-content: center;
        }
        .experienceBanner {
            img {
                width: 30vw;
            }
        }
        .subHeadings {
            font-size: medium;
        }
        .experienceDescription {
            font-size: small;
        }
        .techsWorkedWith {
            font-size: small;
        }
        .projectViewButton {
            font-size: small;
        }
        .skillsButton{
            font-size: small;
        }
    }
}
