.contactDiv {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    // border: 2px solid;
    height: 85vh;
    .contactIcons {
        padding: 1vw;
        margin: 1vw;
        border-radius: 0.5vw;
        background-color: #557A95;
        

        min-width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all;
        img {
            min-width: 40px;
            width: 6vw;
        }
    }
    .contactIcons:hover {
        background-color: #5D5C61;
        background-image: none;
    }
}

.contactsPage{
    background-color: #7395ae;
}

@media screen and (max-width: 600px) {
    .contactDiv {
        display: flex;
        justify-content: center;
        .contactIcons {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 3vw;
            img {
                width: 10vw;
                padding: 2vw;
            }
        }
    }
}
