.contactDiv {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  // border: 2px solid;
  height: 85vh;
  .contactIcons {
    padding: 1vw;
    margin: 1vw;
    border-radius: 0.5vw;
    background: #E0EAFC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all;
    img {
      min-width: 40px;
      width: 6vw;
    }
  }
  .contactIcons:hover {
    background-color: rgb(77, 228, 18);
    background-image: none;
  }
}

@media screen and (max-width: 600px){
  .contactDiv{
    display: flex;
    justify-content: center;
    .contactIcons{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 3vw;
      img{
        width: 10vw;
        padding: 2vw;
      }
    }
  }
}