.achievement {
    width: 40%;
    height: 60%;
    border: 0.5vw ridge #b0a295;
    padding: 0.5vw;
    font-family: "Poppins", sans-serif;
    margin: 1vw;
    .achievementHeader {
        display: flex;
        justify-content: center;
        background-color: #555354;
        font-size: 1vw;
        color: white;
    }
    .achievementBanner {
        display: flex;
        justify-content: center;
        //   border: 2px solid;
        height: 128px;
        padding-bottom: 1vw;
        padding-top: 1vw;

        img {
            // object-fit: cover;
            object-fit: contain;
            height: 14vh;
        }
    }
    .achievementDescription {
        padding: 1vw;
        font-size: 1vw;
        color: white;
        background-color: #557a95;
    }
}

@media screen and (max-width: 950px) {
    .achievement {
        height: 55%;
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .achievementHeader {
        h1 {
            font-size: large;
            display: flex;
            justify-content: center;
        }
    }

    .achievementBanner {
        img {
            width: 50vw;
            object-fit: none;
        }
    }

    .achievement {
        width: 90%;
        .achievementDescription {
            font-size: small;
        }
    }
}
