.achievement {
  width: 30%;
  height: 50%;
  border: 0.5vw ridge gold;
  padding: 0.5vw;
  margin: 1vw;
  .achievementHeader{
      display: flex;
      justify-content: center;
      background-color: beige;
      font-size: 1vw;
  }
  .achievementBanner{
      display: flex;
      justify-content: center;
    //   border: 2px solid;
      height: 35%;
      padding-bottom: 1vw;
      padding-top: 1vw;

      img{
          object-fit: cover;
          height: 80%;
      }
  }
  .achievementDescription{
      padding: 1vw;
      background-color: aliceblue;
  }
}

@media screen and (max-width: 950px){
    .achievement{
        height: 55%;
        width: 50%;
    }
}